# Backend ignored files
backend/.venv/
backend/venv/
backend/__pycache__/
backend/**/*.pyc
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
*.sqlite3-journal
backend/.env
backend/.env.example

# Frontend ignored files
frontend/node_modules/
frontend/build/
frontend/.env
# IDE/System ignored files
.idea/
.DS_Store
.vscode

Offcampus Integration